/* Links de Referência: */
/* 
https://youtu.be/YZHhXwIQksI?si=oMp6nomTBSqXmnwo
Criando Efeito Imagem Dentro do Texto | HTML e CSS

https://youtu.be/tXROaQBzMTk?si=IFC-F906Z2V4OKtN
Como Centralizar uma DIV ou Qualquer coisa no CSS

Site Imagens: https://pixabay.com/pt/images/search/fundo%20floral/

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact;
}
body {
    background-color: rgb(238, 244, 227);
    text-align: center;
    /* margin-left: 50px; */
    /* margin-right: 50px; */

    border: 30px solid #000;
    /* border: 30px solid rgb(130, 12, 12); */
    padding-left: 20px;
    padding-right: 20px;

    /** DISPLAY FLEX: */
    /* Para alinhar com Display Flex: Pai */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*  */
h1 {
    font-size: 120px;
    text-transform: uppercase;
    letter-spacing: 8px;

    /** IMAGENS PARA ESCOLHER: */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-07-02\ 140919.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 155512.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161210.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161438.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161528.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161608.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161635.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161658.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161756.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161827.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161922.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 161957.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 162014.png"); */
    /* background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 162113.png"); */
    background-image: url("./img/Captura\ de\ tela\ 2024-11-29\ 162145.png");
    /* background-image: url(""); */

    /** ATRIBUTO PARA USAR IMAGENS DENTRO DAS LETRAS: */
    -webkit-background-clip: text;
    /* Cor 0 0 0 => Preto e 0 é a opacidade */
    color: rgba(0,0,0,0);
}

/** ===================================== */
/** DISPLAY BLOCK: */
/* Centralizar com Display BLOCK */
/* Bloqueia a linha toda: */
/** ===================================== */

/* h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
} */

/** ===================================== */
/** POSITION ABSOLUTE: */
/* Posiciona X Horizontal e Y Vertical */
/* Para Centralizar Certinho na VERTICAL: */
/** ===================================== */

/* h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

/** ===================================== */
/** POSITION ABSOLUTE: */
/* Posiciona X Horizontal e Y Vertical */
/* Para Centralizar Certinho na HORIZONTAL: */
/** ===================================== */

/* h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

/** ===================================== */
/** DISPLAY FLEX: */
/* Coloca o Display Flex na Div/Body Pai !  */
/** ===================================== */

/** ===================================== */
/** RESPONSIVIDADE:
/** ===================================== */
@media (max-width: 920px) {
    h1 {
        font-size: 90px;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
}
@media (max-width: 380px) {
    h1 {
        font-size: 30px;
    }
}
/** ===================================== */